.Faq {
    /* border: 2px dashed green; */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}
.Faq > button {
    width: fit-content;
    margin-bottom: 5vh;
}

.question {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.question > * {
    margin: 5vh auto;
    text-align: center;
}

.activeAnswer {
    display: block;
}

.hiddenAnswer {
    display: none;
}

.AnswerParagraph {
    font-size: 1.5rem;
}

.LinesSeparatingAnswers {
    border: 1px solid #eaeaea;
    width: 50%;
    margin: 5vh auto;
}
