.header {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;

    background-color: darkslategray;
    color: lightgrey;
    box-shadow: rgba(0, 0, 0, 0.129) 0px 10px 8px;

    position: sticky;
    top: 0;
}

.navigation {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.username-and-log-in-button {
    align-self: center;
    display: flex;
    flex-direction: column;
}

#header-button {
    font-size: 1.2rem;
}
