.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 5%;

    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.129) 0px 10px 8px;

    position: sticky;
    top: 0;
}

.navigation {
    align-self: center;
    display: flex;
    gap: 2vw;
}

.navigation-link {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

.username-and-log-in-button {
    align-self: center;
    align-items: center;
    display: flex;
    gap: 2vw;
}
