#root {
    /* max-width: 1280px; */
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    /* border: 2px solid blue; */
}

.Header {
    display: flex;
    justify-content: space-evenly;
}

.ButtonFaqOrForum {
    display: flex;
    align-items: center;
    color: red;
    /* border: 2px solid red; */
}
.ButtonFaqOrForum > button {
    background-color: #eaeaea;
    margin: 0 5px;
}

.QuestionsList {
    border-radius: 15px;
    overflow-wrap: break-word;
    padding: 0 5vw;
    /* display: flex;
    flex-direction: column;
    align-content: stretch; */
}
/* all these comments make the questions' buttons have equal widths to look like a block column */

.QuestionsList > div > button {
    /* width: 100%; */
    margin-top: 5vh;
    margin-top: 0 auto;
    background-color: #eaeaea;
}

.AnswerParagraph {
    font-size: 1.5rem;
}

.LinesSeparatingAnswers {
    border: 1px solid #eaeaea;
    width: 50%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.RateElement {
    border-radius: 15px;
    padding: 8px;
    height: 15vh;
    max-width: 350px;
    margin: 0 auto;

    background-color: #f9f9f9;
    border: 2px solid #696969;
}
.RateElement > button {
    background-color: #696969;
    margin: 2px;
}
